<p>Date : </p>
 <input type="text" data-field="date" id='fromdate' readonly>
  <div id="dtBox"></div>
<div id="money"></div>
<table>
<thead>
<tr>
<th>Ngaynhap</th>
<th>TienNhap</th>
<th>
</tr>
</thead>
<tbody>
<% @tonghop.each do |t| %>
  <tr>
  <td><%= t.ngaynhap %></td>
  <td><%= t.tiennhap %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= area_chart @loinhuan %>
<script type="text/javascript">
  $(document).ready(function()
   {
     $("#dtBox").DateTimePicker({
     	dateFormat: "yyyy-MM-dd"
     });
     var today = new Date();
     var year = today.getFullYear();
     var month = today.getMonth()+1;
     var day = today.getDate();
     $('#fromdate').val(year + '-' + month + '-' + day);
     $('#todate').val(year + '-' + month + '-' + day);
   });
  
  var pusher = new Pusher('6c57eb75f33d0b498bed', {
	  encrypted: true
	});
	var channel = pusher.subscribe('chi_phi_channel');
	channel.bind('chi_phi_updated', function(data) {
	  reset();
	});
</script>
